<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:<%= process.env.APPLICATION_PORT%>/userBlogs">My Blogs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:<%= process.env.APPLICATION_PORT%>/">All Blogs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:<%= process.env.APPLICATION_PORT%>/blog">New</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:<%= process.env.APPLICATION_PORT%>/logout">Logout</a>
    </li>
  </ul>