<%- include ('./includes/head.ejs') %>
<p>404 Page please click below to login to home</p>
<a href="http://localhost:<%=  process.env.APPLICATION_PORT%>/">Homepage</a>
<%- include ('./includes/foot.ejs') %>